<div class="form-container">
  <!-- Título con ngStyle -->
  <h1 [ngStyle]="{ color: registroForm.valid ? 'green' : 'red' }">
    Formulario de Registro
  </h1>

  <p>Completa los siguientes datos para registrarte en nuestra plataforma.</p>

  <!-- Mensaje de éxito  -->
  @if (formularioEnviado) {
    <div class="success-message">✅ Formulario enviado correctamente</div>
  }

  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre:</label>
      <input
        type="text"
        formControlName="nombre"
        [ngClass]="{
          'campo-invalido': f['nombre'].invalid && f['nombre'].touched,
        }"
      />

      <!-- Lista de errores con *For -->
      <ul class="errores" *ngIf="f['nombre'].invalid && f['nombre'].touched">
        @for (errorNombre of erroresNombre; track $index) {
          <li>{{ errorNombre }}</li>
        }
      </ul>
    </div>

    <!--  Email -->
    <div class="form-group">
      <label>Email:</label>
      <input
        type="email"
        formControlName="email"
        [ngClass]="{
          'campo-invalido': f['email'].invalid && f['email'].touched,
        }"
      />
      @if (f["email"].invalid && f["email"].touched) {
        <ul class="errores">
          @for (errorEmail of erroresEmail; track $index) {
            <li>{{ errorEmail }}</li>
          }
        </ul>
      }
    </div>

    <!--  Mensaje -->
    <div class="form-group">
      <label>Mensaje (opcional):</label>
      <textarea formControlName="mensaje"></textarea>
    </div>

    <!-- Botón deshabilitado si el formulario es inválido -->
    <button type="submit" [disabled]="registroForm.invalid">Enviar</button>
  </form>
</div>
